body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.container {
    color: #002e5e;
    text-align: center;
    padding: 100px 0 0 0;
    margin: 0 auto;
    width: 400px
}

.container .logo {
    display: inline-block;
}
.container .text {
    /*border-bottom: 1px solid #6ecbd4;*/
    /*border-top: 1px solid #6ecbd4;*/
    position: relative;
    font-size: 40px;
    padding: 20px 0;
    margin: 90px 0 0 0;
    width: 100%;
}
.container .text:before{
    position: absolute;
    width: 100%;
    top: -1px;
    content: '';
    display: block;
    height: 1px;
    margin: 1px 0;
    background: #6ecbd4;
    background: -webkit-linear-gradient(left, #fff 0, #6ecbd4 15%, #6ecbd4 85%, #fff 100%);
    background: linear-gradient(to right, #fff 0, #6ecbd4 15%, #6ecbd4 85%, #fff 100%)
}

.container .text:after{
    position: absolute;
    width: 100%;
    bottom: -1px;
    content: '';
    display: block;
    height: 1px;
    margin: 1px 0;
    background: #6ecbd4;
    background: -webkit-linear-gradient(left, #fff 0, #6ecbd4 15%, #6ecbd4 85%, #fff 100%);
    background: linear-gradient(to right, #fff 0, #6ecbd4 15%, #6ecbd4 85%, #fff 100%)
}


