body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  color: #002e5e;
  text-align: center;
  padding: 100px 0 0 0;
  margin: 0 auto;
  width: 400px
}

.container .logo {
  display: inline-block;
}

.container .text {
  position: relative;
  font-size: 40px;
  padding: 20px 0;
  margin: 90px 0 0 0;
  width: 100%;
}

.container .text:before {
  position: absolute;
  width: 100%;
  top: -1px;
  content: '';
  display: block;
  height: 1px;
  margin: 1px 0;
  background: #6ecbd4;
  background: -webkit-linear-gradient(left, #fff 0, #6ecbd4 15%, #6ecbd4 85%, #fff 100%);
  background: linear-gradient(to right, #fff 0, #6ecbd4 15%, #6ecbd4 85%, #fff 100%)
}

.container .text:after {
  position: absolute;
  width: 100%;
  bottom: -1px;
  content: '';
  display: block;
  height: 1px;
  margin: 1px 0;
  background: #6ecbd4;
  background: -webkit-linear-gradient(left, #fff 0, #6ecbd4 15%, #6ecbd4 85%, #fff 100%);
  background: linear-gradient(to right, #fff 0, #6ecbd4 15%, #6ecbd4 85%, #fff 100%)
}

.product-images {
  width: 100%;
  min-height: 300px;
  height: auto;
}

.product-list {
  display: block;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.product {
  width: 180px;
  height: 200px;
  float: left;
  display: inline;
  margin: 0 5px 20px 10px;
  background-color: yellow;
}

.product-img {
  width: 100%;
  height: 160px;
  background: green;
}

.product-desc {
  width: 100%;
  height: 38px;
  background: white;
  border-bottom: 2px #dbdbdb solid;
}

h5 {
  margin: 10px 5px 0 5px;
  padding: 0;
  color: black;
  font-size: 12px;
  font-family: 'Source Sans Pro', Arial, Helvetica;
}

.product-name {
  float: left;
}

.product-price {
  float: right;
}
