<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <title>wilde snake</title>
  <link rel="stylesheet" media="all" type="text/css" href="css/normalize.css"/>
  <link rel="stylesheet" media="all" type="text/css" href="css/styles.css"/>
</head>
<body>
<div class="container">
  <img src="images/logo.png" alt="wilde snake" class="logo"/>

  <p class="text">{{ pageMessage }}</p>

  <h1>Top products</h1>

  <table class="product-table">
    <thead>
      <th>name</th>
      <th>price</th>
    </thead>
    <tbody>
    {{#showcaseItems}}
      <tr>
        <td>{{title}}</td>
        <td>{{price}}</td>
      </tr>
    {{/showcaseItems}}
    </tbody>
  </table>
</div>
</body>
</html>
